<!doctype html>
<html disabled-class="no-js" class="js" lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="Description goes here">
  <meta name="author" content="Dave Steele, SteeleMediaSolution@gmail.com">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/gif" href="../../assets/skull.gif"/>

  <link rel="stylesheet" href="../../shared/shared.css">
  <link rel="stylesheet" href="bio.css">

</head>

<body id="js-body" class="bio-page">

  <main>
    <div class="lace">
      <img src="../../assets/bio-art/biobar.gif" width="100%"/>
    </div>

    <div class="header">
      <div class="centaur">
        <img src="../../assets/centaur.gif"/>
      </div>

      <div class="centaur flip">
        <img src="../../assets/centaur.gif"/>
      </div>
    </div>

    <div class="image-container">
      <div class="skull-candle">
        <img src="../../assets/candleonskull.gif" width="100%"/>
      </div>

      <div id="trigger-image" class="trigger-image">
        <img src="../../assets/bio-art/biopic.jpg" width="100%"/>
      </div>

      <div class="skull-candle flip">
        <img src="../../assets/candleonskull.gif" width="100%"/>
      </div>
    </div>

    <div class="bio-text">
      <p>
        Ananda Fetherston (b.1984) is a painter living in New York.
        
        A maladjusted, depressed teenager in suburban Florida, Ananda evaded a multitude of criminal convictions and substance abuse problems.

        Life saw her on to New York City at age 17 to pursue new heights of indulgence, which eventually led to an abrupt bout of sobriety and subsequently the better part of a Masters in Theoretical Physics.

        After leaving her graduate program she spent two years perfecting her golf game. She then went on to discover a passion for representational art.

        She completed a four year training under Jacob Collins at the Grand Central Atelier, where she is now an instructor.

        Her art is single mindedly driven by the pursuit of whimsy as a means of death acceptance in a world of death deniers.

        Her work lives in private collections across the world.
      </p>
    </div>

    <div class="ankhbar">
      <img src="../../assets/ankhbar.gif" width="100%"/>
    </div>

    <nav class="navigation">
      <p><a href="../../index.html">HOME</a></p>
      <p style="padding: 0 24px;"><a href="../bio/bio.html">BIO</a></p>
      <p><a href="../contact/contact.html">MAILING LIST</a></p>
    </nav>

    <div class="flames">
      <img src="../../assets/flames.gif" width="100%"/>
    </div>

<!-- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -->

    <span id="clearButton" class="clear-button">☓</span>

    <div id="manifesto-popup" class="manifesto-popup gallery-popup" >
      <div class="manifesto-text">
        <div class="desc-container">
          <p>The art we admire and the art we create is motivated by the function art serves in our existence, which is a reflection of our perception of death.
            
            We embrace the superficial and pleasurable as a means of denial, the tragic and sincere as a means of acknowledgement, the whimsical and joyful as a means of acceptance.

            WHIMSY MANIFESTO

            I am a painter of whimsy.  [It’s time to elevate our thinking about the art we’re drawn to and why…question the narrative, question the desire for narrative.]

            I reject the Aristotilian concept of catharsis as a purgatory for the human condition. [Whimsy is the cure. A purgatory only temporarily relieves the symptoms.]

            I seek to find the cure to the human condition through all things delightful, universal and lighthearted. [These things are the respite in the river of self-awareness.]

            I will not assume the responsibility of reporting upon the world in which I live. [Make the world. Reflecting the real world only as one experiences it is hubristic and uninteresting.]

            I will not debase my fellow man by delivering him cheap thrills, pornography and senseless violence. [Appealing to the basic desire to escape our inevitable demise will not alter its inevitability.]

            I will be sincere about having fun. [Frivolity, sarcasm, nihilism have no place in whimsy. Exploring the line where frivolity and sincere fun intersect will be fruitful.]

            I will not assume the responsibility of ethics, morality or societal norms. [Death acceptance is not the result of morality or proselytizing, but of recognition and indifference to a universal human condition...death.]

            I will not attempt to shroud myself in romanticism, symbolism and narrative. [Appealing to the desire to acknowledge death leads to catharsis which, in turn, leads to neurosis.]

            I will maintain a high level of skill in my art. [ While skill prioritization appeals to death deniers, one must be able to communicate the whimsical clearly and deliberately. The sole responsibility of the viewer is to investigate the image closely.]
          </p>
          </div>
      </div>

      <div class="manifesto-image">
        <img src="../../assets/bio-art/manifesto.jpg" style="max-width: 100%;max-height: 100%;">
      </div>
    </div>
    
  </main>

  <script src="../../shared/shared.js"></script>
  <script src="bio.js"></script>

</body>

</html>
