<!doctype html>
<html disabled-class="no-js" class="js" lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="Description goes here">
  <meta name="author" content="Dave Steele, SteeleMediaSolution@gmail.com">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/gif" href="../../assets/skull.gif"/>

  <link rel="stylesheet" href="../../shared/shared.css">
  <link rel="stylesheet" href="contact.css">

</head>

<body id="js-body" class="bio-page">

  <main>
    <div class="lace">
      <img src="../../assets/contact-art/mailing.gif" width="100%"/>
    </div>

    <div class="header">
      <div class="centaur">
        <img src="../../assets/centaur.gif"/>
      </div>

      <div class="centaur flip">
        <img src="../../assets/centaur.gif"/>
      </div>
    </div>

    <div class="image-container">
      <div class="skull-candle">
        <img src="../../assets/candleonskull.gif" width="100%"/>
      </div>

      <div id="trigger-image" class="trigger-image">
        <img src="../../assets/contact-art/dinos.gif" width="100%"/>
      </div>

      <div class="skull-candle flip">
        <img src="../../assets/candleonskull.gif" width="100%"/>
      </div>
    </div>

    <div class="contact-text">
      <p>By signing up for my mailing list, I will bombard your inbox with updates in the form of choose your own adventures, limited edition opportunities, and all things whimsical. You may opt out at any time, but why would you?
      </p>
    </div>

    <div class="ankhbar">
      <img src="../../assets/ankhbar.gif" width="100%"/>
    </div>

    <nav class="navigation">
      <p><a href="../../index.html">HOME</a></p>
      <p style="padding: 0 24px;"><a href="../bio/bio.html">BIO</a></p>
      <p><a href="../contact/contact.html">MAILING LIST</a></p>
    </nav>

    <div class="flames">
      <img src="../../assets/flames.gif" width="100%"/>
    </div>

<!-- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -->

    <span id="clearButton" class="clear-button">☓</span>

    <div id="contact-popup" class="contact-popup gallery-popup" >
      <div class="contact-form-container">
        <form name="contact-list" method="POST" data-netlify="true">
            <label>Name: <input type="text" name="name" required /></label>   

            <label>Email: <input type="email" name="email" required /></label>

            <label>Message: <textarea name="message" placeholder="Optional..." rows="5"></textarea></label>

            <button type="submit">Send</button>
          </p>
        </form>
      </div>
    </div>
    
  </main>

  <script src="../../shared/shared.js"></script>
  <script src="contact.js"></script>

</body>

</html>
