<!doctype html>
<html disabled-class="no-js" class="js" lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="Description goes here">
  <meta name="author" content="Dave Steele, SteeleMediaSolution@gmail.com">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/gif" href="../../assets/skull.gif"/>

  <link rel="stylesheet" href="../../shared/shared.css">
  <link rel="stylesheet" href="gallery.css">

</head>

<body id="js-body" class="gallery-page">

  <template id="galleryPopupTemplate">
    <div class="description-container" style="
      width: 30%;
      margin-right: 50px;
    ">
      <h2 class="title"><slot name="title">NAME HERE</slot></h2>
      <p class="desc"><slot name="description">DESCRIPTION HERE</slot></p>
    </div>
    <div class="carousel-container" style="
      width: 70%;
      height: 100%;
      overflow: auto;
    ">
      <slot name="images">IMAGES HERE</slot>
    </div>
  </template>

  <main>
    <div class="lace">
      <img src="../../assets/lacebanner-gallery.gif" width="100%"/>
    </div>
    <div class="gallery-container">
      <!-- 1 -->
      <div id="image1" class="artwork-container">
        <img src="../../assets/gallery-art/Beyond the Clouds.jpg">
      </div>
      <!-- 2 -->
      <div id="image2" class="artwork-container">
        <img src="../../assets/gallery-art/Elephant Camouflauge.JPG">
      </div>
      <!-- 3 -->
      <div id="image3" class="artwork-container">
        <img src="../../assets/gallery-art/Souvenier.jpg">
      </div>
      <!-- 4 -->
      <div id="image4" class="artwork-container">
        <img src="../../assets/gallery-art/Fruit Gathering.jpg">
      </div>
      <!-- 5 -->
      <div id="image5" class="artwork-container">
        <img src="../../assets/gallery-art/Deco Deer.jpg">
      </div>
      <!-- 6 -->
      <div id="image6" class="artwork-container">
        <img src="../../assets/gallery-art/Alex with Fronds.jpg">
      </div>
    </div>

    <span id="clearButton" class="clear-button">☓</span>
    <!-- 1 -->
    <gallery-popup class="gallery-popup" id="popup1">
      <span slot="title">Beyond The Clouds</span>
      <span slot="description">
        Beyond the Clouds, 2020
        <br>
        Oil and 21k white gold on traditional gesso panel. 1 ⅝” cradle gold leafed. 10”x20”
        <br>
        Available, price upon request.
      </span>
      <img slot="images" src="../../assets/gallery-art/Beyond the Clouds.jpg" style="max-width: 100%;">
      <img slot="images" src="../../assets/gallery-art/Beyond the Clouds Side.jpg" style="max-width: 100%;">
    </gallery-popup>
    <!-- 2 -->
    <gallery-popup class="gallery-popup" id="popup2">
      <span slot="title">Elephant Camouflage</span>
      <span slot="description">
        Elephant Camouflage, 2020
        <br>
        Oil on traditional gesso panel. 1 ⅝” painted patterned cradle. 10”x10”
        <br>
        Available, price upon request
      </span>
      <img slot="images" src="../../assets/gallery-art/Elephant Camouflauge.JPG" style="max-width: 100%;">
      <img slot="images" src="../../assets/gallery-art/elephants side.jpg" style="max-width: 100%;">
    </gallery-popup>
    <!-- 3 -->
    <gallery-popup class="gallery-popup" id="popup3">
      <span slot="title">Souvenier</span>
      <span slot="description">
        Souvenier, 2020
        <br>
        Oil on traditional gesso. 1 ⅝” cradled panel gold leafed. 6”x12”
        <br>
        Available, price upon request.
      </span>
      <img slot="images" src="../../assets/gallery-art/Souvenier.jpg" style="max-width: 100%;">
    </gallery-popup>
    <!-- 4 -->
    <gallery-popup class="gallery-popup" id="popup4">
      <span slot="title">Fruit Gathering</span>
      <span slot="description">
        Fruit Gathering, 2020
        <br>
        Oil on traditional gesso. 1 ⅝” cradled panel. 9”x12”
        <br>
        Private Collection
      </span>
      <img slot="images" src="../../assets/gallery-art/Fruit Gathering.jpg" style="max-width: 100%;">
    </gallery-popup>
    <!-- 5 -->
    <gallery-popup class="gallery-popup" id="popup5">
      <span slot="title">Deco Deer</span>
      <span slot="description">
        Deco Deer, 2020
        <br>
        Oil on Panel. 1 ½” cradled panel. 16”x20”
        <br>
        Available, price upon request
      </span>
      <img slot="images" src="../../assets/gallery-art/Deco Deer.jpg" style="max-width: 100%;">
    </gallery-popup>
    <!-- 6 -->
    <gallery-popup class="gallery-popup" id="popup6">
      <span slot="title">Alex with Fronds</span>
      <span slot="description">
        Alex with Fronds, 2019
        <br>
        Oil and imitation gold on panel. 1 ⅝” panel gold leafed. 18”x24”
        <br>
        Available, price upon request
      </span>
      <img slot="images" src="../../assets/gallery-art/Alex with Fronds.jpg" style="max-width: 100%;">
    </gallery-popup>
  </main>

  <nav class="navigation">
      <p><a href="../../index.html">HOME</a></p>
      <p style="padding: 0 24px;"><a href="../bio/bio.html">BIO</a></p>
      <p><a href="../contact/contact.html">MAILING LIST</a></p>
  </nav>

  <script src="../../shared/shared.js"></script>
  <script src="gallery.js"></script>

</body>

</html>
