/************************/
/**** Index CSS ****/
/************************/

/* Font Definition */
@font-face {
    font-family: 'MuseoSans';
    src: url(../assets/fonts/museo-sans/MuseoSans_500.otf) format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans';
    src: url(../assets/fonts/museo-sans/MuseoSans_300.otf) format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans';
    src: url(../assets/fonts/museo-sans/MuseoSans_700.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'UnifrakturCook';
    src: url(../assets/fonts/UnifrakturCook-Bold.ttf) format("truetype");
}





/* 
| ***** Global Definitions
*/
.mobile-only {
    display:none;
}
* {
    box-sizing: border-box;
    font-family: 'MuseoSans', arial, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    background: black;
    cursor: url(../assets/skull.gif) 50 50, auto;
}

.flames {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#hitCounter {
    width: 284px;
    height: 75px;
    position: absolute;
    bottom: 100px;
    right: 0px;
}
#hitCounter h4 {
    font-family: "Courier", Courier, monospace;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    margin: 12px 0 0;
    letter-spacing: 12px;
}
#hitCounter p {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 4px;
    color: white;
    margin: 8px 0 0 0;
    text-align: center;
    font-family: 'MuseoSans', sans-serif;
    font-weight: 300;
}
.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.flip {
    transform: scaleX(-1);
}
.welcome img {
    width: 50vw;
}
.inner-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ankhbar {
    position:absolute;
    bottom: -24px;
    width: 100%;
    mix-blend-mode: screen;
}
.ankhbar img {
    width: 100%;
}
.dare-container, .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.dare-text, .image-alex {
    max-width: 500px;
}
.skull-candle {
    width: 75px;
}
.image-alex {
    margin: 12px 24px 0;
}
.blood {
    position:absolute;
    bottom: -10px;
    width: 100%;
    max-width: 500px;
}
.navigation {
    position: absolute;
    font-size: 30px;
    text-decoration: underline;
    z-index: 1;
}
.navigation a {
    color: #606060;
}
.index-page .navigation {
    margin-top: 30%;
    margin-left: 30px;
}
.gallery-page .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* Gallery Page */
.gallery-page main {
    height: unset;
}
.gallery-container {
    width: 80%;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* height: 2000px; */
    height: 124vw;
}
.gallery-container .artwork-container {
    width: 50%;
    margin: 0 24px 24px 0;
    border: 6px ridge #cccccc;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 1000px) {
    .gallery-container {
        flex-wrap: nowrap;
        height: unset;
    }
    .gallery-container .artwork-container {
        width: 100%;
    }
}
.gallery-container .artwork-container img {
    max-width: 100%;
    /* position: absolute; */
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
	animation: dialup 10s linear forwards;
}

@keyframes dialup {
	0%      { clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); }
	10%     { clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%); }
	20%     { clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%); }
    30%     { clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%); }
    40%     { clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%); }
    50%     { clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%); }
    60%     { clip-path: polygon(0 0, 100% 0, 100% 60%, 0 60%); }
	70%     { clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%); }
    80%     { clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%); }
    90%     { clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%); }
	100%    { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}